.indiv {
  margin: 15px;
  max-width: 250px;
  padding: 30px;
  transition: 0.4s ease-out;
  position: relative;
  height: 280px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
}

.indiv:not(:first-child) {
  margin-left: -50px;
}

.indiv:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.indiv:hover ~ .indiv {
  transform: translateX(50px);
}

.feature-title {
  color: white
}

.puzzle {
  width: 64px;
  height: 64px;
}

.img-title {
  display: flex;
}