.feature-container {
  height: 100vh;
  border: 2px solid #FF0000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.feature-section-title {
  color: white;
}

.feature-title-container {
  border: 2px solid #FF0000;
}

/* @media (max-width: 569px) {
  .rocket-image {
    width: 50%
  }
} */