.title-tag {
  color: white;
}

.border {
  border-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

p {
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
  height: 100vh;
  border: 2px solid #FF0000;
  flex-wrap: wrap;
}

.image {
  width: 500px;
  max-width: 100%;
  border: 2px solid #FF0000;
}


.button-div {
  display: flex;
  align-items: center;
}

.typewriter-container {
  display: inline-block;
}

.typing-tag {
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from {width: 0}
}


/* this is test css that was implemented by chatgpt */

@media (max-width: 768px) {
  .image {
    width: 100%;
  }
  .header-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .button-div {
    justify-content: space-around;
  }
}